/* Overwrite some colours */
:root {
    --tab-separator: transparent;
    --tab-selected-line: transparent;
    --tablist-separator: #cccccc;
}

@media {
    :root {
        --background: #414141;
        --icons: rgb(251,251,254);
        --tab-separator: transparent;
        --tab-active-background: #6f6f6f;
        --tab-active-text: rgb(251,251,254);
        --tab-text: #fbfbfe;
        --toolbar-background: rgb(43,42,51);
        --toolbar-text: rgb(251, 251, 254);
        --input-background: rgb(28,27,34);
        --input-border: transparent;
        --input-background-focus: rgb(66,65,77);
        --input-selected-text: rgb(251,251,254);
        --input-text: rgb(251,251,254);
        --input-text-focus: rgb(251,251,254);
        --identity-color-toolbar: rgb(251,251,254);
        --tablist-separator: #333333;
    }
}

/* Move topmenu to bottom */
#topmenu {
    order: 2;
    background: transparent;
    border: none;
}

#newtab {
    margin-left: 6px;
}

#settings {
    margin-right: 2px;
}

/* Hide filterbox */
#filterbox-icon,
#filterbox-input {
    display: none;
}

/* Right-align settings icon */
#settings {
    margin-left: auto;
}

#tablist-wrapper {
    height: auto;
    margin: 0 0px;
}

#tablist-wrapper::after {
    content: "";
    max-width: 38px;
    margin: 2px 0;
    border: 1px solid var(--tablist-separator);
}

#tablist-wrapper .tab-title-wrapper {
    visibility: hidden;
}

#newtab {
    flex-grow: 1;
    margin-right: 4px;
    margin-left: 0px;
}



#pinnedtablist:not(.compact) .tab,
#tablist .tab {
    padding: 0;
}

#pinnedtablist:not(.compact) .tab {
    padding-left: 6px;
}

/* Show more when hovering over the sidebar */
body:hover #tablist-wrapper .tab-title-wrapper {
    visibility: visible;
}

body #newtab::after {
    content: "Новая вкладка";
    visibility: hidden;
    margin-left: 10px;
}

body:hover #newtab::after {
    visibility: visible;
}

body:hover #tablist-wrapper::after,
body:hover .tab {
    max-width: 100%;
}

body:hover #pinnedtablist:not(.compact) .tab {
    padding-left: 0;
}

/* Move close button to left side */
/*.tab-close {
    left: 0;
    margin-left: 3px;
}*/

/* Fix title gradient */
/*#tablist .tab:hover > .tab-title-wrapper {
    mask-image: linear-gradient(to left, transparent 0, black 2em);
}*/

/* Move tab text to right when hovering to accomodate for the close button */
/*#tablist .tab:hover > .tab-title-wrapper {
    margin-left: 28px;
}*/

/* Move favicon to right when hovering to accomodate for the close button */
/*#tablist .tab:hover > .tab-meta-image {
    padding-left: 25px;
}*/


.tab {
    overflow: visible;
}
#tablist .tab[data-identity-color] .tab-context {
    box-shadow: none !important;
}
#tablist .tab[data-identity-color] .tab-context::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    bottom: 6px;
    width: 3px;
    border-radius: 0 5px 5px 0;
    background: var(--identity-color);
}
#tablist .tab.active[data-identity-color] .tab-context::before {
    top: 1px;
    bottom: 1px;
}
